<connectionStrings>
  <add name="demo" connectionString="Data Source=DOC\PRI;Initial Catalog=demo;User ID=tabula;Password=Tabula!"
    providerName="System.Data.ProviderName" />
  <add name="demoConnectionString" connectionString="Data Source=DOC\PRI;Initial Catalog=demo;User ID=tabula;Password=Tabula!"
    providerName="System.Data.SqlClient" />
</connectionStrings>